.vscode/
.idea/

*.db
*.crt
*.key
pwfile
*.log
.env

node_modules/
dist/
build/

venv/
__pycache__/

package-lock.json

smarthub/src/config/

printers-config.json
access.json

*.db-journal

hub-api/prints/*